.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-header{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.input-box{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.input-box::placeholder{
    color: white;
    font-weight: 400;
}

.input-box:focus{
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.input-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.input-status{
    font-size: 2rem;
}

.input-status.success{
    color: rgb(58, 255, 58);
}

.input-status.fail{
    color: rgb(255, 57, 57);
}

.input-status.empty{
    color: rgba(255, 255, 255, 0.2);
}

