.infobox-container{
    flex: 4;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid var(--c-light-border); /* Use theme variable for border */
}

.infobox-container .info-row .info-value {
    font-size: 0.9rem;
    color: var(--color-text-secondary); /* Ensure this uses the global theme variable */
    font-weight: 500;
    text-align: left;
}

.infobox-container .info-row .info-value {
    font-size: 1rem;
    color: var(--color-text-primary); /* Ensure this uses the global theme variable */
    font-weight: 600;
    text-align: right;
}