.viewer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.viewer-glassy-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto; /* Changed from flex: 1; */
}

.viewer-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}