.functional-container{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    /* height: auto; */
    /* max-height: 100%; */
    flex: 1;
}

.functional-item{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    margin-bottom: 40px;
}


.functional-doc{
    display: flex;
    flex-direction: column;
    width: 20vw;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}
