# Environment variables
.env
.venv/
/venv/
./.venv/
/resources
./resources

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.whl
*.mypy_cache/
*.pytest_cache/
*.coverage
*.cover
*.hypothesis/
*.tox/
*.coverage.*