.functional-container-nested{
    display: flex;
    flex-direction: row;
}

.generator-container{
    display: flex;
    flex-direction: column;
    flex: 1 !important;
    /* height: 2000px; */
    overflow-y: scroll;
}

.generator-row-1{
    display: flex;
    flex-direction: column;
}

.generator-row-2{
    display: flex;
    flex-direction: row;
}